In [8]:
import statsmodels.formula.api as sm # this will allow for R-like formulasp
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [4]:
data = pd.read_csv('G:/My Drive/MSc/Machine Learning/dataset report 1.csv')
data.head(10) # Display the first 10 rows of the dataset

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15

In [5]:
data.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [9]:
y = data['G3'] # Target variable y 
X = data.drop(columns=['G3', 'G1', 'G2']) # Features X (all columns except 'G3', 'G1', and 'G2')
X = pd.get_dummies(X, drop_first=True) # Convert categorical variables to dummy variables

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=42) # Split the data into training and testing sets (80% train, 20% test)
model = LinearRegression() # Create a linear regression model
model.fit(X_train, y_train) # Fit the model to the training data
y_pred = model.predict(X_test) # Predict the target variable for the test set

In [13]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
mse = mean_squared_error(y_test, y_pred) # Calculate Mean Squared Error
rmse = np.sqrt(mse) # Calculate Root Mean Squared Error
r2 = r2_score(y_test, y_pred) # Calculate R-squared
mae = mean_absolute_error(y_test, y_pred) # Calculate Mean Absolute Error

print(f'Root Mean Squared Error: {rmse:.2f}')
print(f'R-squared: {r2:.2f}')
print(f'Mean Absolute Error: {mae:.2f}')

Root Mean Squared Error: 4.20
R-squared: 0.14
Mean Absolute Error: 3.40

In [14]:
coefficients = pd.DataFrame(model.coef_, X.columns, columns=['Coefficient'])
print(coefficients)

                   Coefficient
age                  -0.375819
Medu                  0.467016
Fedu                 -0.149770
traveltime           -0.262930
studytime             0.757643
failures             -1.854106
famrel                0.293357
freetime              0.249212
goout                -0.418101
Dalc                 -0.145088
Walc                  0.042051
health               -0.146571
absences              0.066311
school_MS             0.726392
sex_M                 1.495911
address_U             0.343715
famsize_LE3           0.696373
Pstatus_T            -0.645113
Mjob_health           1.122322
Mjob_other           -0.267718
Mjob_services         0.673831
Mjob_teacher         -1.108470
Fjob_health           0.145230
Fjob_other           -0.430431
Fjob_services        -0.414586
Fjob_teacher          0.939985
reason_home          -0.393917
reason_other          0.402224
reason_reputation     0.367658
guardian_mother       0.237535
guardian_other        0.965251
schoolsup_yes        -0.915470
famsup_yes           -1.256432
paid_yes              0.770306
activities_yes       -0.636361
nursery_yes          -0.309722
higher_yes            1.750880
internet_yes          0.721836
romantic_yes         -1.016167

In [16]:
###random forest regression
from sklearn.ensemble import RandomForestRegressor
rf_model = RandomForestRegressor(n_estimators=100, random_state=42) # Create a random forest regression model

rf_model.fit(X_train, y_train) # Fit the model to the training data
rf_y_pred = rf_model.predict(X_test) # Predict the target variable for the test set

rf_mse = mean_squared_error(y_test, rf_y_pred) # Calculate Mean Squared Error for random forest
rf_rmse = np.sqrt(rf_mse) # Calculate Root Mean Squared Error for random forest
rf_r2 = r2_score(y_test, rf_y_pred) # Calculate R-squared for random forest
rf_mae = mean_absolute_error(y_test, rf_y_pred) # Calculate Mean Absolute Error for random forest

print(f'Random Forest R-squared: {rf_r2:.2f}')
print(f'Random Forest Mean Absolute Error: {rf_mae:.2f}')
print(f'Random Forest Root Mean Squared Error: {rf_rmse:.2f}')

Random Forest R-squared: 0.24
Random Forest Mean Absolute Error: 3.15
Random Forest Root Mean Squared Error: 3.94

In [17]:
importances = rf_model.feature_importances_ # Get feature importances from the random forest model
feature_importances = pd.DataFrame(importances, X.columns, columns=['Importance']).sort_values(by='Importance', ascending=False) # Create a DataFrame of feature importances
print(feature_importances)

                   Importance
absences             0.189961
failures             0.143044
health               0.054743
goout                0.052796
age                  0.044211
studytime            0.034359
freetime             0.033035
traveltime           0.030748
Fedu                 0.028491
Walc                 0.027564
famrel               0.027075
schoolsup_yes        0.025691
Medu                 0.024507
romantic_yes         0.023547
higher_yes           0.019619
Mjob_services        0.018839
guardian_other       0.015519
sex_M                0.015190
internet_yes         0.014927
activities_yes       0.014505
Fjob_teacher         0.013653
famsup_yes           0.013166
Dalc                 0.012402
famsize_LE3          0.010214
paid_yes             0.010197
reason_reputation    0.010014
nursery_yes          0.009824
Mjob_health          0.009362
reason_home          0.008979
Pstatus_T            0.008514
guardian_mother      0.008379
Fjob_services        0.007526
Mjob_other           0.007467
school_MS            0.007208
Fjob_other           0.007088
address_U            0.006854
reason_other         0.004920
Mjob_teacher         0.004323
Fjob_health          0.001540